<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form [formGroup]="form">

  
  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        Campo Obrigatório
      </div>
    </ion-item >

    <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" formControlName="e_mail"></ion-input>
      </ion-item>
    
        <ion-item *ngIf="!form.controls.e_mail.valid && (form.controls.e_mail.dirty || form.controls.e_mail.touched)" color="danger">
          <div [hidden]="!form.controls.e_mail.errors.required">
            Campo Obrigatório
          </div>
        </ion-item >

        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      
          <ion-item *ngIf="!form.controls.password.valid && (form.controls.password.dirty || form.controls.password.touched)" color="danger">
            <div [hidden]="!form.controls.password.errors.required">
              Campo Obrigatório
            </div>
          </ion-item >

          <ion-item>
            <ion-label stacked>Perfil</ion-label>
            <ion-input type="text" formControlName="type"></ion-input>
          </ion-item>
        
            <ion-item *ngIf="!form.controls.type.valid && (form.controls.type.dirty || form.controls.type.touched)" color="danger">
              <div [hidden]="!form.controls.type.errors.required">
                Campo Obrigatório
              </div>
            </ion-item >
        
        <div paddind>
        <button ion-button block type="submit" (click)="onSubmit()">Salvar</button>
    </div>

</form>

</ion-content>
